@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
}

.titulo_principal{
    margin: 20px;
    color: rgb(255, 255, 255);
    background-color: #BF3633;
    border: solid 2px black;
    border-radius: 5rem;
    font-size: 16px;
}
.titulo{
    font-size: 56px;
}
.local {
    height: 2rem;
    color: black;
    background-color: rgb(238, 174, 91);
    border: solid 1px black;
    border-radius: 5px;
}
