@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open sans", Arial, sans-serif;  
}

/*login*/
.login-principal{
    background-color: #BF3633;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #d85a58;
    padding: 70px;
    border-radius: 8px;
    width: 400px;
}
.login-container h1 {
    text-align: center;
    margin-bottom: 60px;
}
.form-group {
    margin-bottom: 40px;
    margin-top: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 4px solid white;
    border-radius: 50px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #d85a58;
    color: #000000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button{
    align-items: center;
    text-transform: uppercase;
    padding: 1rem 1.5em;
    background: #BF3633;
    border: none;
    color: #ffff;
    cursor: pointer;
    opacity: 0.7;
    flex: 3;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}
button:hover{
    cursor: pointer;
    opacity: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    margin: 32px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-color: #828282;
}
.cnn{
    height: 45px;
    width: 45px;
}
.logo{
    margin: 20px 0  0 40px;
    height: 171px;  
}
.login{ 
    position: relative;
	width: 940px;
    color: #000000;
    font-size: 20px;
    margin-left: 1000px;
    text-decoration: none;
    margin-right: 10px;
    padding: -20px;
}
a{
    text-decoration: none;
    color: #000000;
}
.botao-login{
    background-color: #BF3633;
    border-radius: 5px;
    padding: 15px;
    color: white;
}
.principal{
    text-align: center;
    margin-top: 240px;
}
.principal h1{
    font-size: 64px;
}
.principal p{
    font-size: 24px;
    color: #828282;
    margin: 30px;
}
.botao-principal{
    background-color: #BF3633;
    border-radius: 7px;
    padding: 15px;
    width: 24px;
    height: 14px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-bottom: -440px;
}
.comp_img{
    width: 1279px;
    height: 660px;
    align-items: center;
    text-align: center;
    margin-top: 140px;
}
.titulo{
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 40px;
}
.corpo_texto{
    text-align: justify;
    font-size: 20px;
    margin: 20px;
    line-height: 1.3em;
    margin-left: 30px;
    margin-right: 30px;
}

/*entrar html*/
.body_sobre{
    background-color: #E4363B;
}
.cad_principal{
    background-color: aliceblue;
    display: inline-block;
    text-align: center;
	width: 30%;
	vertical-align: top;
	padding: 40px 20px;
	box-sizing: border-box;
	border-radius: 10px;
    margin: 250px 590px;
}
.cad_principal main{
    font-size: 23px;
}
.cad_principal input{
    font-size: 17px;
    border-radius: 5px;
    padding: 3px;
}
.cad_principal .salvar{
    padding: 10px;
    background-color: #E4363B;
    border-radius: 10px;
    font-size: 20px;
}
.salvar:hover{
    cursor: pointer;
    font-size: 25px;
    background-color: #a52226;
    transition: 0.5s;
}
.cad_principal p {
    color: gray;
    margin-top: 20px;
    font-size: 11px;
}
