@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color: #E4363B;
}
header{
    color: #000;
}
.login {
    position: relative;
    width: 940px;
    font-size: 20px;
    margin-left: 80%;
    padding: -20px;
}
a{
       color: #000000; 
       text-decoration: none;
       margin-right: 10px;
}
.login a:hover {
    color: #000;
    cursor: pointer;
    font-size: 21px;
    text-decoration: underline #fff;
    transition: 0.6s;
}
.logo{
    margin: 20px 0  0 40px;
    height: 171px;  
}
footer{
    background-color: #E4363B;
    height: 60px;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    color: black;
}
.imagem{
    max-width: 100%;
    height: auto;
    margin: 30px 0 0 280px;
}
.missao{
    font-size: 20px;
    margin: 20px -85px 30px 20px;
    text-align: justify;
    padding: -20px;
}
.missao p{
    margin-top: 20px;
    line-height: 1.3em;
}
ul{
    background-color: aliceblue;
    width: 100%;
    padding: 10px;
}
ul li{
    display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 10px;
    
}
.botao_login {
    text-decoration: none;
    font-size: 25px;
    background-color: black;
    border-radius: 5px;
    padding: 15px;
    position: relative;
	width: 940px;
    margin: 2% 2% 87% 87%;
    color: white;
}
/*escola baroni*/

.titulo-principal{
    font-size: 190%;
    color: white;
    margin: 60px 200px;
}
.eco{
    margin: 70px 5px;
    color: white;
    background-color: rgb(199, 32, 32);
    border: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.botao1{
    text-decoration: none;
    border: none;
    background-color: rgb(199, 32, 32);
}
.contato{
    margin: 70px 155px;
    color: white;
}
.local{
    margin: 70px 55px;
    color: white;
}
/* Css Main */
main{
    background-color: rgb(199, 32, 32);
    color: white;
}
.banner{
    width: 100%;
}
.Sobre{
    margin: 5%;
    text-align: center;
}
.sobre-ceep{
    margin: 65px;
    text-align: center;
    font-size: 150%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
    color: black;
}
.botao{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 30px;
    height: 80px;
    width: 160px;
    right: 50%;
    margin-left: 46%;
    background-color: rgb(255, 251, 251);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Css Footer */
footer{
    background-color: black;
    margin: 10, 20px;
    display: flex;
    padding: 20px;
}
.logo2{
    margin: 5px, 10px;
    width: 6%;
    left: 50%;

}
.endereço{
    margin: 10, 25px;
    color: white;
    margin-left: 3px;
    margin-right: 30px;
}
.copy{
    color: grey;
    margin-left: 300px;
    margin-top: 2.5%;

}
